<!DOCTYPE html>
<html>
<head>
    <title>Sharp Tracker</title>
    <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
</head>
<body>
    <header>
        <h1>Sharp Tracker</h1>
    </header>
    <nav>
        <ul>
            <li><a class="active" href="#">Enter Data</a></li>
            <li><a href="#">View Past Picks</a></li>
            <li><a href="#">Sharp Comparison</a></li>
            <li><a href="#">Daily Composite Picks</a></li>
        </ul>
    </nav>
    <h1>Enter Data</h1>
    <form>
        <label for="date">Date:</label>
        <select id="date" name="date">
            <option value="2023-04-26">April 26, 2023</option>
            <option value="2023-04-27">April 27, 2023</option>
            <option value="2023-04-28">April 28, 2023</option>
        </select>
        <label for="race">Race:</label>
        <select id="race" name="race">
            <option value="5">Race 5</option>
            <option value="6">Race 6</option>
            <option value="7">Race 7</option>
            <option value="8">Race 8</option>
            <option value="9">Race 9</option>
            <option value="10">Race 10</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>