<!DOCTYPE html>
<html>
<head>
    <title>Sharp Tracker</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
    <div class="fp-container">
        <div class="fp-jumbotron">
            <!-- <header> -->
                <img src="static/images/sharps_logo.jpg" alt="Sharps Fund, LLC.">
                <p style="color: grey; font-style: italic;">Image created using Bing AI</p>
                <h1 class="fp-fund-name">Sharps Fund, LLC.</h1>
            <!-- </header> -->
            <nav>
                <!-- <li><a class="active" href="#">Enter Data</a></li> -->
                <a href="#">Sign Up/Login</a>
                <a href="#">View Leaderboards</a>
                <!-- <li><a href="#">Sharp Comparison</a></li> -->
                <a href="#">Daily Composite Picks</a>
            </nav>
        </div>
    </div>
        <!-- <h1>Enter Data</h1>
        <form>
            <label for="date">Date:</label>
            <select id="date" name="date">
                <option value="2023-04-26">April 26, 2023</option>
                <option value="2023-04-27">April 27, 2023</option>
                <option value="2023-04-28">April 28, 2023</option>
            </select>
            <label for="race">Race:</label>
            <select id="race" name="race">
                <option value="5">Race 5</option>
                <option value="6">Race 6</option>
                <option value="7">Race 7</option>
                <option value="8">Race 8</option>
                <option value="9">Race 9</option>
                <option value="10">Race 10</option>
            </select>
            <input type="submit" value="Submit">
        </form> -->
</body>
</html>